.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  margin-left: -4;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 2;
}

.footer-font-color {
  color: white !important;
}
